<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style.css">
    <title>Document</title>
</head>

<body>

    <div class="wrapper">

        <h1>Nea</h1>
        {{!-- <img src="../assets/images/Nea-animation.gif" alt="logo gif"> --}}

        {{!-- <h2>Ready, set, go to bed!</h2> --}}
        <h2>Your route to ReST</h2>

        <div class="nav">

            <li><a href="../">Home</a></li>
            <li><a href="../users">Users</a></li>
            <li><a href="../sleepLog">Sleep Log</a></li>
            <li><a href="../morningReports">Morning Reports</a></li>
            
        </div>

        <hr>

        {{{ body }}}

    </div>

</body>

</html>