<form id="create-night" method="POST" action="./create-night">
  <label for="creating-night">
    <p>Date<input type="date" name="date"></p>
    <p>Hours Slept<input type="text" name="hoursSlept"></p>
    <p>Bedtime<input type="text" name="bedtime"></p>
    <p>Room Temperature<input type="text" name="temp"></p>
    <input type="submit" value="submit">