<h1 class="header">Sleep Log</h1>
<hr>
<ul>
  {{#each nights}}
  <li>
    <h2><a href='./sleepLog/{{_id}}'> {{date}} </a></h2>
  </li>
  {{/each}}
</ul> {{!-- <h3><a href="./createNight">Add Log</a></h3>

<ul>
  {{#each user.night}}
  <li>{{date}}</li>
  {{/each}}
</ul> --}}