<div class ="sleepLog">Sleep Log</div>

<ul>
  {{#each nights}}
  <li>
    <a href='./sleepLog/{{_id}}'> {{date}} </a>
  </li>
  {{/each}}
</ul> {{!-- <h3><a href="./createNight">Add Log</a></h3>

<ul>
  {{#each user.night}}
  <li>{{date}}</li>
  {{/each}}
</ul> --}}