<h1>Night Page</h1>

<p>Date:</p>
<p>Hours Slept:</p>
<p>Bedtime:</p>
<p>Woke up:</p>
<p>Temperature:</p>
<p>Fan:</p>
<p>Morning Report<p>

    <button>Edit</button>

    {{!-- //link to edit Night - that page will also have delete as an option --}}