{{!-- //input forms to enter info about a night and create new night
//button to delete night --}}
<h1>Update Log Info</h1>
<p>Date:<input type="date"></p>
<p>Hours Slept:<input type="text"></p>
<p>Bedtime:<input type="text"></p>
<p>Woke up:<input type="text"></p>
<p>Temperature:<input type="text"></p>
<p>Fan:<input type="text"></p>
<input type="submit" value="Submit Changes">
<br>
<input type="submit" value="Delete Log">