<h1>nightPost</h1>
<p>Date:<input type="date"></p>
<p>Hours Slept:<input type="text"></p>
<p>Bedtime:<input type="text"></p>
<p>Woke up:<input type="text"></p>
<p>Temperature:<input type="text"></p>
<p>Fan:<input type="text"></p>
<input type="submit" value="submit">