Create Morning Report

<form id="create-morning-report" method="POST" action="./createMorningReport">
  <label for="creating-morning-report">
    <p>Date: <input type="text" name="text" placeholder="mm/dd/yy"></p>
    <p>Sleep Rating 1-10: <input type="rating" name="hoursSlept"></p>
    <p>Mood: <input type="text" name="mood"></p>
    <p>Notes: <input type="text" name="notes"></p>
    <input type="submit" value="submit">
  </label>
</form>