<form id="edit-user" method="POST" action="./editUser">
  <p>Name<input type="text" name="name"></p>
  <p>Age<input type="text" name="age"></p>
  <p>Weight<input type="text" name="weight"></p>
  <input type="submit" value="Submit Changes">
  <br>

  