<h1 class="header"> List of Users </h1>
<hr>
<ol>
  {{#each users}}
  <h2>
    <li class="user"><a href="./users/{{_id}}">{{name}}</a></li>
  </h2>
  {{/each}}
</ol>

<h2><a href="../users/createUser">Create New User</a></a><br>