<h1> List of Users </h1>


{{#each users}}

<li>

  <h2>

    <a href="./users/{{_id}}">{{name}}</a>

  </h2>

  <h3>

    Age: {{age}}

  </h3>

  <h3>

    Weight: {{weight}} lbs

  </h3>
  <form id="delete-user" method="DELETE" action="./users">
    <input type="submit" value="delete user">
</li>

{{/each}}


<h2><a href="../users/createUser">Create New Profile</a></a><br>